<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>880242835588-ugmb3l4d3kq5ifbd9271ee4k4mju236o.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.880242835588-ugmb3l4d3kq5ifbd9271ee4k4mju236o</string>
	<key>API_KEY</key>
	<string>AIzaSyDhRxUfFDU6fDPU9AkeWIZRUdYN_rBNQGA</string>
	<key>GCM_SENDER_ID</key>
	<string>880242835588</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.barp.iHotel</string>
	<key>PROJECT_ID</key>
	<string>ihotel-21af4</string>
	<key>STORAGE_BUCKET</key>
	<string>ihotel-21af4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:880242835588:ios:3102d777aa39b28052c2d1</string>
</dict>
</plist>